################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/tetris/.vs/tetris/v16
/tetris/tetris/obj
/tetris/tetris/bin/Debug/netcoreapp3.1
